body {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: radial-gradient(circle at 10% 10%, rgba(255,255,255,03) 1%, trasparent 1%),
    radial-gradient(circle at 70% 40%, rgba(255,255,255,0.3) 1%, trasparent 1%);
    background-size: 200px 200px;
    animation: confetti 10 s linear infinite;
    z-index: 0;
    pointer-events: none;
}

.container {
    position: relative;
    z-index: 1;
    background: rgba(0,0,0, 0.3);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    width: 90%;
    max-width: 600;
}

h1 {
    font-size: 2rem;
    margin-bottom: 25px;
    font-weight: 600;
}

#countdown {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.time-box {
    background: rgba(255, 255, 255, 0.2);
    padding: 15px 25px;
    border-radius: 12px;
    min-width: 100px;
    transition: transform 0.3s ease;
}

.time-box:hover{
    transform: scale(1,1);
}

.time-box span{
    font-size: 3rem;
    font-weight: bold;
    color: #ffeb3b;
    display: block;
}

.time-box p{
    margin: 0;
    font-size: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#mensaje {
    margin-top: 25px;
    font-size: 1.3rem;
    color: #fff;
    font-weight: bold;
}